.alert {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  width: max-content;
}

.alert.primary {
  background-color: #34424d;
}

.alert.alert.primary span {
  color: #5fb2f2;
}

.alert.success {
  background-color: #393d1b;
}

.alert.alert.success span {
  color: #6ccb5f;
}

.alert.warning {
  background-color: #8f5d00;
}
.alert.alert.warning span {
  color: #ffa600;
}

.alert.error {
  background-color: #630000;
}
.alert.alert.error span {
  color: #e20000;
}
