@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

:root {
  --fontFamilyBase: "Segoe UI", "Segoe UI Web (West European)", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-family: var(--fontFamilyBase);

  color-scheme: light dark;

  background-color: #202020;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --shadown: 0 0 8px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

button {
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--fontFamilyBase);
  font-size: 14px;

  gap: 10px;
  /* min-width: 90px; */
  outline-style: none;
  overflow: hidden;

  transition: all 0.1s ease;
  user-select: none;
  justify-content: center;
  font-weight: 600;
}

button.small {
  font-size: 12px;
  padding: 4px 8px;
  min-height: auto;
  font-weight: 400;
}
button.medium {
  font-size: 14px;
  padding: 5px 12px;
  min-height: auto;
  font-weight: 600;
}
button.large {
  font-size: 16px;
  padding: 8px 16px;
  min-height: auto;
  font-weight: 800;
}
button.default {
  background-color: #ffffff10;
  border-color: #666666;
  color: #f3f3f3;
}
button.default:hover {
  background-color: #ffffff15;
}
button.primary {
  background-color: #005a9eff;
  border-color: #005a9ecc;
  color: white;
}
button.primary:hover {
  background-color: #005a9ecc;
  color: white;
}
button.success {
  background-color: #0f7b0f;
  border-color: #0f7b0fcc;
  color: white;
}

button.success:hover {
  background-color: #0f7b0fcc;
  color: white;
}
button.flat {
  background-color: transparent;
  border-color: transparent;
  color: #f3f3f3;
}
button.solid {
  border-color: transparent;
}
button.bordered {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: #f3f3f3;
}
button.disabled {
  background-color: #ccc;
  cursor: no-drop;
}
button.disabled:hover {
  background-color: #ccc;
}

.material-icons-outlined.small {
  font-size: 14px;
}
.material-icons-outlined.medium {
  font-size: 20px;
}
.material-icons-outlined.large {
  font-size: 30px;
}

.menu {
  position: relative;
}
.menu__list {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  border: 1px solid #666666;
  border-radius: 4px;
  padding: 6px;
  gap: 4px;
  background-color: #212121;
  margin-top: 4px;
  transition: all 0.3s ease;
  box-shadow: var(--shadown);
  transform-origin: top;
}
.menu__list.open {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.menu__list.closed {
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
}
.menu__list__item {
  justify-content: start;
}

.card {
  padding: 16px;
  box-shadow: var(--shadown);
  border: 1px solid #1d1d1d;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: #2b2b2b;
}

input {
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 10px;
  border-bottom: 2px solid #9f9f9f;
  background-color: #3d3d3d;
  font-size: 14px;
}

input:focus {
  background-color: #222222;
  border-bottom: 2px solid #76b9ed;
  outline: none;
}

input::placeholder {
  color: #d3d3d3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #fafafa;
    --shadown: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
  }
  .card {
    box-shadow: var(--shadown);
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    border-radius: 4px;
  }
}
