@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "material-icons/iconfont/material-icons.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #f3f3f3;
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 14px;

  gap: 10px;
  min-width: 96px;
  min-width: 96px;
  outline-style: none;
  overflow: hidden;

  transition: all 0.1s ease;
  user-select: none;
  justify-content: center;
}

button.small {
  font-size: 12px;
  padding: 3px 8px;
  min-height: auto;
  font-weight: 400;
}

button.medium {
  font-size: 14px;
  padding: 5px 12px;
  min-height: auto;
  font-weight: 500;
}

button.large {
  font-size: 16px;
  padding: 8px 16px;
  min-height: auto;
  font-weight: 600;
}

button.default {
  background-color: #00000050;
  border-color: #1d1d1d;
  color: #f3f3f3;
}

button.default:hover {
  background-color: #00000040;
}

button.primary {
  background-color: #005a9eff;
  border-color: #005a9ecc;
  color: white;
}

button.primary:hover {
  background-color: #005a9ecc;
  color: white;
}

button.success {
  background-color: #0f7b0f;
  border-color: #0f7b0fcc;
  color: white;
}

button.success:hover {
  background-color: #0f7b0fcc;
  color: white;
}

button.flat {
  background-color: transparent;
  border-color: transparent;
  color: #f3f3f3;
}

button.solid {
  border-color: transparent;
}

button.bordered {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: #f3f3f3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #f3f3f3;
  }
}
